<input type="text"  [(ngModel)]="title" />
{{title}}

<div *ngIf="title==='robot-store'">
  Estas en la pantalla principal
</div>
<button (click)="addItem()">Add robot</button>

<div *ngFor="let robot of robots; index as i">
  <h4>{{"Robot nro"+i}}</h4>
  <p>{{robot}}</p>
  <button (click)="deleteItem(i)">Borrar</button>
</div>

<div *ngFor="let robotPart of robotParts">
  <h4>{{robotPart.title}}</h4>
  <img [src]="robotPart.image" [alt]="robotPart.title">
  <p>{{robotPart.description}}</p>
  <p>{{"S/."+robotPart.price}}</p>
</div>